* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.head {
    font-family: 'Poppins', sans-serif;
    padding: 4rem 9.75rem;
    background-color: #fefdf9;
    /* height: 100vh; */

}
.navbar {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    align-items: center;
}
.nav_left h1 {
    font-size: 2rem;
}
.nav_right {
    display: flex;
    /* background-color: aqua; */
    gap: 3rem;
    font-size: .75rem;
    color: #616161;
}
.content {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.content_left {
    width: 650px;
}
.content_left img {
    width: 100%;
    height: 265px;
    object-fit: cover;
}
.txt {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

}
.title_left {
    font-size: 2rem;
    line-height: 3rem;
}
.txt_right {
    width: 285px;
    height: 185px;
    font-size: .75rem;
    color: #616161;
}
.btn {
    background-color: #ef5d50;
    color: #fefdf9 !important;
    margin-top: 2.25rem;
    width: 165px;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-size: .75rem;
    padding: .65rem 1.75rem;
    font-weight: 600;
    
}
.content_right {
    width: 300px;
    height: 445px;
    background-color: #00001a ;
    padding: 1rem 1.5rem;
}
.content_right h1 {
    color: #cb9756;
}
.right_text {
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

}
.right_text p {
    color: #b3b4c8 ;
    margin-top: .40rem;
    font-size: .75rem;

}

.content_2 {
    /* border: #ef5d50 solid 2rem; */
}
.D-01 {
    display: flex;
    width: 340px;
    height: 120px;
}
.con2_image img {
    width: 95px;
    height: 125px;
}